@media (max-width : 600px) {
    body div {
        border: 1px solid red;
    }

    header .menu .menu-list ul {
        display: none;
    }

    .header .logo {
        width: 80%;
        text-align: left;
    }

    .header .menu-responsive-icon {
        width: 20%;
        text-align: right;
        font-size: 2rem;
    }

    .header .logo,
    .header .menu-responsive-icon {
        padding: 30px 30px;
    }
    /*area do slide*/
    .slide-area {
        display: block;
        width: 100%;
        padding: 30px 0px;
    }

    .slide-area-description,
    .slide-area-tittle {
        width: 100%;
        padding: 0px;
        margin: auto;
        height: 100%;
    }
    /*titulo do slide*/
    .slide-area-description-title{
        width: 70%;
        margin: auto;
    }
    .slide-area-description-desc{
        margin: auto;
    }
    .slide-area-description-title h2{
        font-size: 2.5rem;
    }
    /*CONTEINER GRID DO BODY*/
    .conteiner-content {
        grid-template-columns: 100%;
        grid-template-rows: 450px 850px 700px 700px;
        grid-template-areas: 'slides '
            'box '
            'secao '
            'dados ';
    }

    .menu-responsive-icon {
        display: block;
    }

    .menu {
        display: none;
    }

    .box-area {
        display: block;
        width: 100%;
    }

    .box-area-box {
        width: 300px;
        margin: 20px auto;
    }

    

    .section-area-content {
        grid-template-columns: 1fr;
        grid-template-rows: 300px 200px 150px;
        grid-template-areas: 'img-grande '
            'texto'
            'img-pequena';
        width: 100%;
    }

    .section-area-img {
        width: 10%;
        padding: 0px;
    }

    .section-area-img img {
        width: 300px;
    }

    .section-area-box {
        width: 50%;
        display: flex;
        justify-content: space-around;
    }

    .section-area-box-content {
        width: 10%;
    }

    .section-area-txt {
        width: 60%;
        padding: 0px;
    }

    .section-area-txt-tx {
        width: 90%;
    }

    .footer {
        display: block;
    }

    .slide-area-description,
    .slide-area-tittle {
        width: 100%;

    }
}